<%= form_with(model: cruise, local: true) do |form| %>
  <% if cruise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cruise.errors.count, "error") %> prohibited this cruise from being saved:</h2>

      <ul>
      <% cruise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :line_id %>
    <%= form.text_field :line_id %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_select :start %>
  </div>

  <div class="field">
    <%= form.label :days %>
    <%= form.number_field :days %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
